.App {
  text-align: center;
}

.App-header {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nfl-logo {
  height: 80px;
  width: auto;
  margin-right: 20px;
}
